ion-list {
  height: 93%;
  overflow: auto;
  .message-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sender-label {
      font-size: 12px;
      color: #999; // Adjust the color as needed
      margin-bottom: 5px;// Adjust the color as needed
    }
}
}
ion-content{
  height:fit-content;
}
  

ion-toolbar {
  --background: var(--ion-color-primary);
  text-align: center;
  color: #ffffff
}

ion-item {
  display: flex;
  flex-direction: column;
  margin: 2px;

  .message-container {
    min-height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    // margin-bottom: 4px;
    margin-top: 4px;

    &.user {
      // position:absolute;
      right: -6%;
      justify-content: flex-end;
      width: 90%;
      align-items: flex-end;
    }

    &.assistant {
      justify-content: flex-start;
      align-items: flex-start;
      width: 90%;

    }

    .message-bubble {
      padding: 8px;
      border-radius: 8px;
      word-wrap: break-word;
      background-color: #DBE2E9;
      color: #ffffff;
      max-width: 80%; // Adjust the max-width as needed

      &.user {
        background-color: #9e1c25;
        //   background-color:#0e5fba;
        align-self: auto;

      }

      &.assistant {
        background-color: #585a5b;
        align-self: flex-start;
        max-width: 80%; // Adjust the max-width as needed

      }
    }
  }
}