<ion-header>
  <ion-toolbar color="primary" >
    <ion-title>Welcome to Doki</ion-title>
    
  </ion-toolbar>
</ion-header>
<!-- src/app/home/home.page.html -->

<ion-content class="red-theme">
  <div class="profile-image">
    <img src="assets/images/doctor-2027768_1280.png" alt="Profile Image">
  </div>
  <div class="typing-text animated-text" id="animatedText">
    Hello my name is Doki.
  </div>
  
  <div class="button-container">
    <ion-button routerLink="/chat" class="custom-button">Chat with Me</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar >
    <p>&copy; 2023 Health Strat. All rights reserved.</p>
  </ion-toolbar>
</ion-footer>



<!-- assets/images/doctor-2027768_1280.png -->