<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="red-theme">
  <div class="profile-image">
    <img src="assets/images/doctor-2027768_1280.png" alt="Profile Image">
  </div>
  <div class="typing-text">
    Hello my name is Doki. <br>I will be assisting you with your medical questions
  </div>
  <div class="button-container">
    <ion-button routerLink="/chat" class="custom-button">Chat with Me</ion-button>
  </div>
</ion-content>


<!-- assets/images/doctor-2027768_1280.png -->