ion-list {
    height: 93%;
    overflow: auto;
  }
  
  ion-item {
    display: flex;
    flex-direction: column;
    margin: 2px;
  
    .message-container {
      display: flex;
      position: relative;
      margin-bottom: 4px;
      margin-top: 4px;
  
      &.user {
        // position:absolute;
        right: -6%;
        justify-content: flex-end;
        width: 90%;
        align-items:flex-end;
      }
  
      &.assistant {
        justify-content: flex-start;
        align-items: flex-start;
        width: 90%;

      }
  
      .message-bubble {
        padding: 8px;
        border-radius: 8px;
        word-wrap: break-word;
        background-color: #DBE2E9;
        color: #ffffff;
        max-width: 80%; // Adjust the max-width as needed
  
        &.user {
            background-color:#385991;
        //   background-color:#0e5fba;
          align-self:auto;
        
        }
  
        &.assistant {
          background-color: #585a5b;
          align-self: flex-start;
          max-width: 80%; // Adjust the max-width as needed

        }
      }
    }
  }
  